body{
    background-color: rgb(191, 255, 161);
}

h3{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: tomato;
    border: 5px solid black;
    border-radius: 15px;
    padding: 0.7vw;
    text-align: center;
}

p{
    text-align: justify;
    font-size: 22px;
    font-family: sans-serif;
    padding: 8px;
}

.info{
    background-color: rgb(207, 205, 201);
    border: 4px groove purple;
    border-radius: 16px;
}